@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  background: #f9f8f8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}

a{
  text-decoration: none !important;
}

.main-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.form-container{
  list-style: none;
  padding-left: 0px;
}

.form-container label {
  width: 100px;
  display: inline-block;
}

.form-container .button.primary {
  background: #5f5d5d;
  color: #fff;
  border: 1px solid;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.heading{
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  font-weight: 600;
}

form.checkout-form {
  width: 340px; 
  background: #ffd6d6;
  padding: 20px;
  margin: 0 auto;
  line-height: 35px;
}
